/*Palette:
  - #DAB1A0
  - #C1AE9F
  - #A2A998
  - #887B92
  - #947E88
  - #F3ECE8
  - #D7BAAD
*/

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F3ECE8;
    color: #707070;
}

header{
    display: flex;
    gap: 30px;
    font-size: 2.5rem;
}

.content{
    flex: 2;
}

.outline{
    border: 0.1rem solid #887B92;
    width: 85vw;
    height: 73vh;
    margin: 1rem 0;
    display: flex;
    padding: 0.3rem;
}

.img-box{
    background-color: #D7BAAD;
    flex: 2;
}

.recipes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: #707070;
    font-size: 1.5rem;
}

a:hover{
    color: #A2A998;
    border-bottom: 0.25vh solid #A2A998;
}

.outline2{
    border: 0.1rem solid #887B92;
    width: 85vw;
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

.img-box1{
    background-color: #A2A998;
    width: 50vw;
}

.recipe-title{
    border-bottom: 1px solid;
    margin-bottom: 1vh;
}

.recipe-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredients{
    border-bottom: 3px dotted;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}


.steps{
    margin-left: 2vw;
    margin-top: 1vh;
}

.steps > li{
    margin-bottom: 0.5vh;
}

#credits{
    font-size: 2vh;
}